<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Monday suite">
    <listeners>
        <listener class-name="org.APIAutomationFramework.listeners.ReTryListeners"></listener>
    </listeners>
    <test name="Monday Run">
        <classes>
            <class name="org.APIAutomationFramework.tests.TestPOSTAPI"/>
        </classes>
    </test>
</suite>